RewriteEngine On

# Si el archivo o directorio existe, se sirve tal cual
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Si no, todo va a index.php (Slim)
RewriteRule ^ index.php [QSA,L]
