name: Build and deploy PHP app to Azure Web App - unidet-api

on:
  push:
    branches:
      - main

env:
  AZURE_WEBAPP_NAME: "unidet-api"                # nombre de tu App Service
  AZURE_WEBAPP_PACKAGE_PATH: "."                 # ruta del proyecto

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # Empaquetar la app en un zip
      - name: Create deployment package
        run: |
          zip -r app.zip .

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: php-app
          path: app.zip

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: php-app
          path: .

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: ${{ env.AZURE_WEBAPP_NAME }}
          package: app.zip
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
