name: Deploy UNIDET API to Azure

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.2"

      - name: Install Composer deps
        run: composer install --no-dev --prefer-dist --no-interaction --optimize-autoloader

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: unidet-api
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE }}
          package: .

